div.ad-title h1, div.ad-title p {
    color : rgb(255, 123, 0);
    text-shadow: 3px 3px 3px black;
}

div.ad-title {
    padding: 2em;

    background-size : cover;

    background-position: center center;
}


div.container {
    margin-top: 20px;
}

div.carousel-caption {
    text-shadow : 3px 3px 3px black;
}

.avatar{
    max-width : 128px;
    max-height: 128px;

    border-radius: 50%;
}

.avatar-medium {
    max-height: 100px;
    max-width: 100px;

}

.avatar-mini {

    max-width: 30px;
    max-height: 30px;

}

.avatar-micro {
    max-width: 25px;
    max-height: 25px;
}


p{
text-align: justify;
}

.disabled.disabled-date.day{
    color: firebrick !important; 
}

span.rating i {
    color: goldenrod;
}


.alert a {
    text-decoration: none;
}